* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.container{

}

.size{
    max-width: 100px;
    padding-right: 1px;
}

.size:hover{
    opacity: .9;
}

.Cards--container-01{
    display: flex;
    justify-content: center;
    padding: 1px;
    padding-top: 20px;
}

.Cards--container-02{
    display: flex;
    justify-content: center;
    padding: 1px;
}

.Cards--container-03{
    display: flex;
    justify-content: center;
    padding: 1px;
}

.Cards--container-04{
    display: flex;
    justify-content: center;
    padding: 1px;
    padding-bottom: 20px;
}