body {
    margin: 0;
}

ul{
    width: 35%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
    color: white;
    padding-right: 20px;
}



/*Essa classe engloba o logo e ul*/
.NavBar--container{
    width: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0229FF;
    padding: 10px;
}

.logotipo{
    width: 50%;
    margin-left: 10px;
}


@media (max-width: 425px){
    ul{
        display: none;
    }

    .logotipo{
        width: 45%;
    }
}

@media screen and (min-width: 768px) {
    .logotipo{
        max-width: 22vh;
    }
}

@media screen and (min-width:1280px) {
    .logotipo{
        max-width: 28vh;
    }
}