body {
    margin: 0;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: white;
        padding: 10px;
}

/*Essa classe engloba o logo e ul*/
.NavBar--container{
    background-color: #0229FF;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logotipo{
    max-width: 15vh;
    padding-top: 10px;
}

@media (max-width: 425px){
    ul{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .logotipo{
        max-width: 22vh;
    }
}

@media screen and (min-width:1280px) {
    .logotipo{
        max-width: 28vh;
    }
}