body {
    margin: 0;
}

ul, li{
    display: flex;
    justify-content: space-around;
    background-color: red;
    list-style: none;
}

.NavBar--container {
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logotipo {
    background-color: #09f128;
    align-items: center;
    max-width: 130px;
    padding: 10px;   
}

.Navbar{
    background-color: #3b09f1;
    padding: 20px;
    color: #ffffff;
    font-weight: bold;
}
