*{
    font-family:'Roboto';
}
p{
    color: grey;
    text-align: center;
}

h1{
    color: #00c4cc;
    text-align: start;
    margin-top: 10px;
    font: bold;
    font-family: 'Roboto';
    width: 100%;
    margin-bottom: 5px;
    font-size: 26px;
}

.First_Section{
    width: 90%;
}

.SectionGame{
    display: flex;
    padding: 30px;
}

.SectionGame{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnTwo{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn_startGame1{
    width: 25%;
    height: 40px;
    position: relative;
    background-color: #f1eaea;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #D8498D;
    cursor: pointer;
}

.btn_startGame2{
    width: 25%;
    height: 40px;
    position: relative;
    background-color: #D8498D;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.GameAssets{
    text-align: center;
}

.AssetsGame{
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 200px;
}
.white{
    background-color: white;
    border: none;
}


@media screen and (min-width: 768px) {
    
}

@media screen and (min-width:1280px) {

    h1{
        font-size: 30px;
        color: #00c4cc;
        text-align: left;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    
    .SectionGame{
        display: flex;
        padding: 30px;
    }
    
    .SectionGame{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    .btnTwo{
        display: flex;
        justify-content: left;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .btn_startGame1{
        width: 80%;
        height: 50px;
        position: relative;
        background-color: #f1eaea;
        border-radius: 5px;
        border: none;
        font-weight: bold;
        font-size: 13px;

    }
    
    .btn_startGame2{
       width: 80%;
        height: 50px;
        position: relative;
        background-color: #D8498D;
        border-radius: 5px;

    }
    
    .AssetsGame{
        width: 80%;
    }

    .AssetsGame{
        width: 60%;
        border-radius: 5px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .AssetsGame{
        border-radius: 5px;
        margin: 0 auto;
        max-width: 300px;
        }
}
    
@media screen and (min-width:1280px) {
    .AssetsGame{
    border-radius: 5px;
    margin: 0 auto;
    max-width: 300px;
    }    
}