*{
    font-family:'Roboto';
}
p{
    color: grey;
    text-align: center;
}

.First_Title{
    text-align: center;
    padding-top: 30px;
    color: #00c4cc;
    font: bold;
    font-family: 'Roboto';
    font-size: 26px;
    margin-bottom: 5px;
    font-size: 22px;
}

.First_Section{
    width: 90%;
}

.SectionGame{
    display: flex;
    padding: 30px;
}

.SectionGame{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.btnTwo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn_startGame1{
    width: 28%;
    height: 45px;
    position: relative;
    background-color: #f1eaea;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #D8498D;
    cursor: pointer;
}

.btn_startGame2{
    width: 28%;
    height: 40px;
    position: relative;
    background-color: #D8498D;
    border-radius: 4px;
    border: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.GameAssets{
    text-align: center;
}

.AssetsGame{
    width: 60%;
    border-radius: 5px;
    margin: 0 auto;
}
